{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Base template</title>
  
</head>
<body>
    <div class="conatiner">
        {% block base_head %}{% endblock %}
        {% include "base/css.html"%}

    </div>
    {% include 'base/navbar.html' with brand_name='ecommerce' %}
    <div class="conatiner">
        {%block content %}
        {% include 'base/navbar.html' with brand_name='ecommerce' %}
        {% endblock%}
    </div>
   
    {% include "base/js.html"%} 
    {% block javascript %}
    
    {% endblock %}

  
  
</body>
</html>

